@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #f0a5bc; 
    --black-color: #030302;
    --border: 0.1 rem solid rgba (255,255,255,0.4);

}

*{
font-family: 'Poppins', sans-serif;   
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: inherit;
transition: 0.2 ease;
}

/*! based html codes  */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color:#e7dbdb;
}

html::-webkit-scrollbar-thumb {
    width: 0.8rem;
    background-color: #504e4e;
}

body {
    background-color: var(--main-color);
    overflow-x: hidden;
}

section{
    padding: 3.5rem 7%;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color:rgb(0, 0, 0);
    border-color: #e7dbdb;
    border-style:outset;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.5;
}
.heading {
    color: #e7dbdb;
    text-transform: uppercase; 
    font-size: 2.8rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #e7dbdb;
    font-family: Arial, Helvetica, sans-serif;
}
.heading .span{
     text-transform: uppercase;
     color: #030302;
     font-family: 'Times New Roman', Times, serif;
}

/*! header start */
.header .logo img {
    height: 10rem;
}
.header {

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 7% ;
    margin: 5rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a {
 margin: 0.1rem;
 font-size: 2rem;
 color: var(--black-color);
 border-bottom: 0.1rem solid transparent; 
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 1rem;
}
.header .buttons button {
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1rem;
    background-color: transparent;
}
/*! header end */ 

/*! home start */ 
.home{
    min-height: 100vh;
    background: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14rem;
    display: flex;
    align-items: center;
}
.home .content {
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    color: #e7dbdb;
}
.home .content p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem 0;
    color: #e7dbdb;
}
/*! home end */

/*! photoblog start*/
.photoblog .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.photoblog .box-container .box {
    padding: 3rem;
    background-color: #6d9ab4;
    border-radius: 3rem;
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.photoblog .box-container .box .box-head h3 {
    font-size: 3rem;
    padding: 1rem 0;

}

.photoblog .box-container .box .box-head img {
  width: 100%;
  object-fit: cover;
}

/*! photoblog end */

/*! about start*/
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
  
.about .row .image {
    flex: 0 0 35%;
    margin-right: 2rem;
}
  
.about .row img {
    width: 100%;
}
  
.about .row .content {
    flex: 0 0 45%;
}
  
.about .row .content h3 {
    font-size: 3rem;
    color: #e7dbdb;
}
  
.about .row .content p {
    font-size: 1.6rem;
    color: #e7dbdb;
    padding: 1rem 0;
    line-height: 1.5;
}  
/*! about end*/


/*! contact start*/
.contact .row{
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}.contact .row .form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #e7dbdb;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
}
.contact .row form .inputBox i{
    color: #e7dbdb;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #e7dbdb;
    text-transform: none;
    background: none;
}
.contact .row form .btn {
    color: var(--main-color);
    background-color: #e7dbdb;
    font-weight: bold;
}
.icon {
    display: inline-block; 
    width: 50px;
    height: 50px; 
    text-align: center; 
}
  
  .icon img {
    width: 100%; 
    height: 100%; 
}
  
/*! contact end */



